body {
	  background-color: #013060;
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: 0px;
	  line-height: 0px;
	}
	a {
	  color: #013060;
	  text-decoration: none;
	}
	a:hover {
	  color: #235282;
	}
	
	header {
	  background-color: #013060;
	  margin-bottom: 10px;
	  padding: 10px;
	}
	
	p {
	  color: #333;
	  font-size: 16px;
	  line-height: 1.4em;
	  margin-bottom: 10px;
	  text-align: center;
	}
	form {
	  margin: 10px 0;
	  text-align: center;
	}
	form input {
	  background-color: #fff;
	  border: 1px solid #ccc;
	  font-size: 18px;
	  line-height: 20px;
	  margin-bottom: 10px;
	  padding: 10px;
	  width: 380px;
	}
	form input:hover {
	  border-color: #888;
	}
	form input:focus {
	  border-color: #888;
	  outline: none;
	}
	form input[type="submit"] {
	  background-color: #124171;
	  color: #fff;
	  cursor: pointer;
	  font-weight: bold;
	  width: 404px;
	}
	form input[type="submit"]:hover {
	  background-color: #013060;
	  border-color: #ccc;
	}
	form input:nth-last-of-type(1) {
	  margin-bottom: 0px;
	}
			
	.box {
	  background-color: #fff;
	  box-shadow: 0 0 10px #222;
	  margin-top: -200px;
	  margin-left: -250px;
	  padding: 10px 10px 0 10px;
	  position: absolute;
		top: 50%;
		left: 50%;
		overflow:visible;
	  width: 480px;
	}
	
	header img {
	  height: 45px;
	  margin-left:-3px;
	}
	
	.errors{
		position: absolute;
		right: 15px;
		top: 15px;
		width: 445px;
		font-size: 14px;
		line-height:14px;
		z-index: 50001; 
		cursor: pointer; 
		padding: 10px; 
		border: 3px solid #000; 
		background: none repeat scroll 0% 0% #AE4647; 
		color: rgb(255, 255, 255); 
		display: block; 
		color:#fff;
		//margin-top:-65px;
		
	}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 480px),
only screen 
and (max-width : 380px), 
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

header img{
	height:30px;	
	width:310px;
}
.box{
	background-color: #fff;
	box-shadow: 0 0 10px #222;
	margin-top: -260px;
	margin-left: -170px;
	padding: 10px 10px 0 10px;
	position: absolute;
	left: 50%;
	width:320px;	
	overflow:visible;	
}
form input{
	width:280px;	
}
form input[type="submit"]{
	width:280px;	
}

	.errors{
		position: absolute;
		right: 15px;
		top: 15px;
		width: 300px;
		font-size: 14px;
		line-height:14px;
		z-index: 50001; 
		cursor: pointer; 
		padding: 10px; 
		border: 3px solid #000; 
		background: none repeat scroll 0% 0% #AE4647; 
		color: rgb(255, 255, 255); 
		display: block; 
		color:#fff;
		//margin-top:-65px;
		
	}

}
/* Smartphone in portrait mode */
@media only screen 
and (max-width : 320px){
header img{
	height:30px;
	width:280px;
}
.box{
	background-color: #fff;
	box-shadow: 0 0 10px #222;
	margin-top: -260px;
	margin-left: -163px;
	padding: 10px 10px 0 10px;
	position: absolute;
	left: 50%;
	width:300px;
	overflow:visible;	
}
form input{
	width:280px;	
}
form input[type="submit"]{
	width:280px;	
}

	.errors{
		position: absolute;
		right: 15px;
		top: 15px;
		width: 262px;
		font-size: 14px;
		line-height:14px;
		z-index: 50001; 
		cursor: pointer; 
		padding: 10px; 
		border: 3px solid #000; 
		background: none repeat scroll 0% 0% #AE4647; 
		color: rgb(255, 255, 255); 
		display: block; 
		color:#fff;
		//margin-top:-65px;
		
	}
}




